.cards__container {
   flex: 1;
   position: relative;
   padding: 70px 10% 50px 10%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: center;
   align-items: start;
   align-content: flex-start;
   height: auto;
   width: 100%;
}

@keyframes mover {
   0%{
      transform: scaleX(1);
      left: -500px;
   }

   50% {
      left: 110vw;
      transform: scaleX(1);
   }

   51% {
      left: 111vw;
      transform: scaleX(-1);
   }

   100% {
      left: -500px;
      transform: scaleX(-1);
   }
}

.not__favoritesImg{
   position: absolute;
   left: -500px;
   top: 25%;
   transform: scaleX(1);
   height: 300px;
   width: auto;
   animation: mover 10s linear infinite;
}

@keyframes aparecer {
   0%{
      width: 0;
   }

   100%{
      width: 100%;
   }
}

.not__favoritesText{
   font-weight: 700;
   white-space: nowrap;
   width: 0;
   overflow: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
   font-size: 5rem;
   color: #66C737; 
   animation: aparecer 2.25s 2.5s linear forwards;
}

.selector__container{
   width: 100%;
   padding: 0 5% 0 5%;
   position: absolute;
   top: 20px;
   display: flex;
   justify-content: center;
   gap: 2rem;
   align-items: center;
}

.selector__order, .selector__filter{
   appearance: none;
   border: 2px solid transparent;
   width: auto;
   text-align: center;
   padding: 0 0.5rem;
   color: white;
   border: #2F362F;
   background-color: #2F362F;
   height: 2rem;
   border-radius: 2rem;
   cursor: pointer;
   outline: none;
}

@media(max-width: 750px) {
   .not__favoritesImg{
      height: 250px;
      top: 18%;
   }

   .not__favoritesText{
      font-size: 2.7rem;
      animation: aparecer 1.7s 2.8s linear forwards;
   }
}




