.link{
    height: 100%;
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card__container{
    animation: fade-in 0.5s ease-in-out;
    position: relative;
    width: 200px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.537);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: -3px 0px 20px 5px rgba(0, 0, 0, 0.121);
}

.img__card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__container:hover{
    transform: translateY(-10px);
}

.card__container:hover .card__status{
    transition: all 0.3s ease-in-out;
    bottom: 0px;
}

.card__status{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    position: absolute;
    bottom: -40px;
    border: 2px solid transparent;
    padding: 0 5px;
}

.alive{
    background: rgba(73, 255, 53, 0.5);
}

.dead{
    background: rgba(255, 53, 53, 0.5);
}

.button__close, .button__fav{
    opacity: 0;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 1.75rem;
    top: 5px;
    cursor: pointer;
}

.card__container:hover .button__close, .card__container:hover .button__fav{
    transition: all 0.3s;
    opacity: 1;
}

.buttons__container{
    justify-content: center;
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
}

.button__fav{
    color: white;
}

.isFav{
    color: rgb(255, 53, 53);
}

.notFav{
    color: white;
}

.button__close{
    margin-left: 5px;
}

.button__close:hover, .button__fav:hover{
    transform: scale(1.25, 1.25);
}