.container__Deatil{
    position: relative;
    flex: 1;
    padding: 0 20% 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deatil{
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
    width: auto;
}

.img__Deatil{
    z-index: 2;
    border-radius: 2rem;
    height: auto;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.deatil:hover .img__Deatil{
    transform: translateX(-80%);
}

.deatil__information{
    z-index: -1;
    position: absolute;
    top: 1.7rem;
    left: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 350px;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.deatil:hover .deatil__information{
    transform: translateX(-50%);
    width: 600px;
    z-index: 1;
}

.name__Deatil{
    color: #66C737;
    font-size: 2.5rem;
}
.status__Deatil,.species__Deatil,.gender__Deatil,.origin__Deatil{
    font-size: 1.5rem;
    color: white;
}

@media(max-width: 1000px) {
    .deatil{
        align-items:  center;
    }

    .img__Deatil{
        width: 300px;
        height: 300px;
    }

    .deatil:hover .img__Deatil{
        transform: translateX(-60%);
    }

    .deatil__information{
        top: 3rem;
        height: 250px;
        width: 300px;
        transform: translateX(-100%);
    }

    .deatil:hover .deatil__information{
        transform: translateX(-50%);
        width: 400px;
    }

    .name__Deatil{
        font-size: 2rem;
    }

    .status__Deatil, 
    .species__Deatil,
    .gender__Deatil,
    .origin__Deatil{
        font-size: 1.25rem;
    }
}

@media(max-width: 730px) {
    .deatil{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img__Deatil{
        width: 250px;
        height: 250px;
    }

    .deatil:hover .img__Deatil{
        transform: translateY(-40%);
    }

    .deatil__information{
        left: 0;
        width: 250px;
        height: 250px;
    }

    .deatil:hover .deatil__information{
        transform: translate(-50%, 50%);
        height: 250px;
        width: 250px;
    }

    .name__Deatil{
        font-size: 1.5rem;
    }

    .status__Deatil, 
    .species__Deatil,
    .gender__Deatil,
    .origin__Deatil{
        font-size: 1rem;
        font-weight: 300;
    }
}
